# Ignore specific files
data/pseudobulk_train_set.csv
data/pseudobulk_test_set.csv

# Ignore all CSVs in a folder
data/*.csv

# Ignore a folder and its contents
logs/
outputs/
data/
images/
logs/
notebooks/
outputs/
plots/
results/
rmd/
scripts/
tests/

.ipynb_checkpoints/README-checkpoint.md



