# Ignore specific files
data/pseudobulk_train_set.csv
data/pseudobulk_test_set.csv

# Ignore all CSVs in a folder
data/*.csv

# Ignore a folder and its contents
logs/
outputs/
images/
logs/
notebooks/
outputs/
plots/
rmd/
scripts/

.ipynb_checkpoints/
.ipynb_checkpoints/README-checkpoint.md

__pycache__/

# Ignore temp files
*.swp
*.pyc
*.pyc

